<div id="predefined_background_field" class="field box background_field <%= 'hidden' unless  visible %>">
	<div class="own_background">
			<a class="toggle_btn" id="toggle_btn" href="#">CREATE<br>YOUR OWN</a>
			<span class="title">Custom</span>
	</div>
	<div id="background_carousel">
	<ul class="horizontal_list background_list">
	    <%- if @backgrounds.present? %>
				<% @backgrounds.each do |background| %>
					<li class='<%= 'selected' if @portfolio.predefined_background == background  %>' >
						<a class='image_link <%= 'selected' if @portfolio.predefined_background == background  %>' data-id='<%= background.id %>' href="#" class="image_link">
							<%= background_image_tag background %>
							<span class="image_overlay"></span>
						</a>
						<span class="title"><%= background.name  %></span>
					</li>
				<% end %>
	    <% end %>
	</ul>
	</div>
	<div class="scroll">
		<a id="left_scroll_bg" href="#" class="left_scroll" ></a>
		<a id="right_scroll_bg"  href="#" class="right_scroll" ></a>
	</div>
</div>