<%= render('sidebar') %>
<% #@portfolio.custom_background.background.dimensions %>

<section id="edit_portfolio_layout" class="edit edit_portfolio_layout">

  <%= form_for(@portfolio, :url => portfolio_path) do |f| %>

    <%= render ('portfolios/fields/background_field'), :form => f %>

    <%= render ('portfolios/fields/layout_field') %>

    <%= render ('portfolios/fields/theme_field') %>

    <%= f.hidden_field :layout %>
    <%= f.hidden_field :theme %>
    <footer>
      <%= submit_tag 'Save portfolio', :class=> 'btn' %>
    </footer>
  <% end %>

 

</section>



<% content_for :preview do %>
  <%= render  "preview",  :action => 'edit_layout_portfolio'  %>
<% end %>
