<%= render('sidebar') %>
<section id="edit">
<%= form_for(@portfolio, :url => portfolio_path) do |f| %>
  <%= select "background", "id", @backgrounds.map {|u| [u.name,u.id]} %>
  <%= submit_tag("Change background") %>
<% end %>
</section>
<% content_for :preview do %>
  <%= render  "preview",  :action => 'edit_background'  %>
<% end %>

