<%= render('sidebar') %>
<section id="edit_portfolio_layout" class="edit edit_portfolio_layout">
	
  <%= form_for(@portfolio, :url => portfolio_path) do |f| %>

		<%= render ('portfolios/fields/background_field') %>
		
		<%= render ('portfolios/fields/layout_field') %>
		
		<%= render ('portfolios/fields/theme_field') %>
		
	<% end %>
	
</section>

<% content_for :preview do %>
  <%= render  "preview",  :action => 'edit_portfolio'  %>
<% end %>


