<%= render('sidebar') %>

<% content_for :header do %>
	<% @non_webfonts.each  do |font| %>
		<%= stylesheet_link_tag(font.url) %>
	<% end %>
<% end %>

<section id="edit" class="edit_portfolio_font">
<%= form_for(@portfolio, :url => portfolio_path) do |f| %>
 	<fieldset class="edit_portfolio_font">
			<div class="order">1</div>
			<legend>Display font</legend>
			<p class="description">Choose the font you would like displayed as your <em>titles</em>. </p>
			<div id="title_font_field" class="field box font_field">
				<dl class="webfonts">
					<dt>Standard</dt>
					<dd>
						<% @webfonts.each  do |font| %>
							<%= font_link @portfolio, font, @portfolio.title_font == font %> 
						<% end %>
					</dd>
				</dl>
				<dl class="non_webfonts">
						<dt>Something new</dt>
						<dd>
								<% @non_webfonts.each  do |font| %>
									<%= font_link @portfolio, font, @portfolio.title_font == font  %> 
								<% end %>
						</dd>
				</dl>
				<footer>
				
			    <%= f.text_field :title_color, :class=> 'color_picker' %> 	<%= f.label :title_color %>
				</footer>
			</div>
	</fieldset>
	<fieldset class="edit_portfolio_font">
			<div class="order">2</div>
			<legend>Body font</legend>
			<p class="description">Choose the font you would like displayed as your <em>body text</em>. </p>
			<div id="body_font_field" class="field box font_field">
				<dl class="webfonts">
					<dt>Standard</dt>
					<dd>
						<% @webfonts.each  do |font| %>
							<%= font_link @portfolio, font, @portfolio.title_font == font %> 
						<% end %>
					</dd>
				</dl>
				<dl class="non_webfonts">
						<dt>Something new</dt>
						<dd>
								<% @non_webfonts.each  do |font| %>
									<%= font_link @portfolio, font, @portfolio.title_font == font  %> 
								<% end %>
						</dd>
				</dl>
					<footer>
				
				    <%= f.text_field :body_color, :class=> 'color_picker' %>
						<%= f.label :body_color %>
					</footer>
			</div>
	</fieldset>
<% end %>
</section>
<% content_for :preview do %>
  <%= render  "preview",  :action => 'edit_portfolio'  %>
<% end %>

