<%= render('sidebar') %>

<section id="edit" class="edit_portfolio_layout">
  <%= form_for(@portfolio, :url => portfolio_path) do |f| %>
		<%= debug @portfolio.background %>
		<fieldset class="edit_portfolio_bg">
				<div class="order">1</div>
				<legend>Background image</legend>
				<p class="description">Select a background from the gallery or create your own background</p>
				<div id="background_field" class="field box background_field">
					<div class="custom_bg">
							<a id="add_custombg_btn" href="#">CREATE<br>YOUR OWN</a>
							<span class="selection_title">Custom</span>
					</div>
					<ul class="selection_list">
						<% Background.all.each do |background| %>
							<li class='<%= 'selected' if @portfolio.background == background  %>' >
								<a href="#" class="select_bg">
									<img src="http://placehold.it/110x110" />
									<span class="select_bg_overlay"></span>
								</a>
								<span class="selection_title"><%= background.name  %></span>
							</li>
						<% end %>
					</ul>
					<div class="scroll">
						<a id="left_scroll_bg" href="#" class="left_scroll" ></a>
						<a id="right_scroll_bg"  href="#" class="right_scroll" ></a>
					</div>
				</div>
		</fieldset>

        <%= select "layout", "id", @layouts.map {|u| [u.name,u.id]} %>
        <%= submit_tag("Change layout") %>
	<% end %>
</section>
<% content_for :preview do %>
  <%= render  "preview",  :action => 'edit_portfolio'  %>
<% end %>
