<%= render('sidebar') %>

<section id="edit_portfolio_layout" class="edit_section edit_portfolio_layout">
  <%= form_for(@portfolio, :url => portfolio_path) do |f| %>

    <%= render ('portfolios/fields/background_field'), :form => f %>

    <%= render ('portfolios/fields/layout_field'), :form => f %>

    <%= render ('portfolios/fields/theme_field'), :form => f %>

    <footer>
      <%= submit_tag 'Save portfolio', :class=> 'btn' %>
    </footer>

  <% end %>

</section>

<% content_for :preview do %>
  <%= render  :partial => "preview", :locals => {:action => :edit_layout_portfolio}    %>
<% end %>