<%= render('sidebar') %>
<section id="edit">
<%= form_for(@portfolio, :url => portfolio_path) do |f| %>
		<div class="field">
		   <%= f.label :font %><br />
		   <%= f.text_field :font %>
		 </div>
	<% end %>
</section>
<% content_for :preview do %>
  <%= render  "preview",  :action => 'edit_portfolio'  %>
<% end %>

