<h2> VIEW PORTFOLIO</h2>

<div> Portofilo id: <%= @portfolio.id %> </div>

<%- unless @portfolio.published? || (current_user != @portfolio.user) -%>
  <%= form_tag(publish_portfolio_path, :method => :put) do %>
    <%= submit_tag("Publish") %>
  <% end %>
<% end %>

<ul>
        <li> layout: <%= @portfolio.layout %> </li>
  <li> theme: <%= @portfolio.theme || "-" %> </li>
  <%- if @portfolio.title_font.present? %>
    <li> font: <%= @portfolio.title_font.name %> </li>
  <% end %>
        <%- if @portfolio.body_font.present? %>
    <li> font: <%= @portfolio.body_font.name %> </li>
  <% end %>
   <%- if @portfolio.background.present? %>
    <li> background: <%= @portfolio.background.name %> </li>
  <% end %>
  <li> published? <%= @portfolio.published? %> </li>
</ul>
<%= link_to_function "test js", '$(this).html("js works")' %>
