<h2> VIEW PORTFOLIO</h2>


<section>

<ul>

        <li> layout: <%= @portfolio.layout %> </li>
  <li> theme: <%= @portfolio.theme || "-" %> </li>
  <%- if @portfolio.title_font.present? %>
    <li> font: <%= @portfolio.title_font.name %> </li>
  <% end %>
        <%- if @portfolio.body_font.present? %>
    <li> font: <%= @portfolio.body_font.name %> </li>
  <% end %>
   <%- if @portfolio.background.present? %>
    <li> background: <%= @portfolio.background.name %> </li>
  <% end %>
  
</ul>
<ul>

</ul>
</section>


