<%= form_for(@document_block) do |f| %>
 	<%= f.hidden_field :project_id %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
