<%= form_for(@document_block) do |f| %>
 	<%= f.hidden_field :project_id %>
 	<p class="styled_text_field tb1 tb2-2 field">
 	 <%= f.text_field :title, :placeholder => 'Give your Attached Documents section a title (ex. References) ...', :required => true %>
 	</p>
 	<% if !@document_block.new_record?  %>
     <div class="add-buttons">
         <a href="<%= new_document_block_document_path(@document_block) %>" id="add_document" class="first fltlft iframe_fancy">+ Add a document</a>
         <p>*PDF, Word, PowerPoint, etc.</p>
     </div>  
     <div class="scrollbar">
       <div id="document_block_pane" class="scroll_pane"> 
       <ul id="document_element_list">
         <% @document_block.documents.each  do |element| %>
            <li class="upload" id="element_<%= element.id %>"> 
               <%= render element %>
             </li>
         <% end %>
       </ul>
     </div> 
   <% end %>
   <p class="right actions" >

     <a id="save_document_btn" href="#" class="btn-1"><span><strong>
       <% if !@document_block.new_record?  %>
         Save document block
       <% else %>
         Create document block
       <% end %>
     </strong></span></a>
     <% if !@document_block.new_record?  %>
       <a id="save_document_block_btn" href="<%= new_document_block_path+"?project_id=#{@project.id}" %>" class="btn-2"><span><strong>Cancel</strong></span></a>
     <% end %>
   </p>
<% end %>
