<%= form_for(@text_block) do |f| %>
  <div class="hidden_fields">
  	<%= f.hidden_field :project_id %>
  </div>
  
  <p id="text_block_title_error" class="error hidden">* Title is required</p>
  <p class="styled_text_field tb1 field">
    <%= f.text_field :title, :placeholder => "Please insert a title ..." %>
  </p>
  <p class="styled_text_area field">
    <%= f.text_area :body, :rows => "5", :cols => "73", :placeholder => "Content goes here ..." %>
  </p>
  <p class="right actions" >
     <a id="save_text_block_btn" href="#" class="btn-1"><span><strong>
       <% if !@text_block.new_record?  %>
         Save writing
       <% else %>
         Create writing
       <% end %>
     </strong></span></a>
     <% if !@text_block.new_record?  %>
       <a id="cancel_text_block_btn" href="<%= new_text_block_path+"?project_id=#{@project.id}" %>" class="btn-2"><span><strong>Cancel</strong></span></a>
     <% end %>
   </p>

<% end %>
