<h1>Listing text_blocks</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @text_blocks.each do |text_block| %>
  <tr>
    <td><%= text_block.title %></td>
    <td><%= text_block.body %></td>
    <td><%= link_to 'Show', text_block %></td>
    <td><%= link_to 'Edit', edit_text_block_path(text_block) %></td>
    <td><%= link_to 'Destroy', text_block, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Text block', new_text_block_path %>
