<section class="<%= 'hidden' unless visible %>" id="update_pattern_background">
	<%= form.fields_for :pattern_background do |pattern_background_fields| %>
  <p class="description"> Click <em>boxes</em> to customize</p>
  <ul>
    <li>
      <div class="color_picker " id="background_pattern_color_picker">
        <div class="panel" style="background-color: #<%= background.color %>"></div>
				<%= pattern_background_fields.hidden_field :color  %>
       
      </div>
    </li>
    <li class="text">&</li>
    <li>
      <div class="pattern panel" style="background-image:<%= "url(#{background.pattern.pattern.url(:pattern)})" %>">
      </div>
      +
      <div id="pattern_preview" class="pattern_preview panel" style="background-color: #<%= background.color %>">
      </div>
    </li>
    <li  class="text">
      =
    </li>
    <li>
      <div id="final_preview" class="preview panel" style="background-image:<%= "url(#{background.pattern.pattern.url(:pattern)})" %>; background-color: #<%= background.color %>;" >
      </div>
    </li>
  </ul>
 <% end %>
<section id="pattern_dialog" class="dialog">
<% Pattern.all.each do |pattern|  %>
	<%= image_tag pattern.pattern.url(:pattern) , :class => 'preview_uploaded_image' %>
<% end %>
</section>
</section>
<%= form.hidden_field :pattern_background_id %>

