 <%= form_for(@project, :url => url_for_action(@project)) do |f| %>
 <div class="hidden_fields">
  <%= f.hidden_field :public %>
  <%= hidden_field_tag :weight %>
  <%= hidden_field_tag "tab", 0  %>
  <%= hidden_field_tag "content_tab", 0  %>
 </div>
<!-- Project Title !-->
<fieldset id="project_title">
  <span class="order">1</span>
  <div class="inner">
    <legend>Project title</legend>
    <p class="description">Give your project a catchy title. (ex.: Spring 2011 Streetwear Designs)</p>
    <p class="styled_text_field tb4">
      <%= f.text_field 'title', :placeholder => 'Enter project title here', :required => true %>
    </p>
    <p>
      <%= f.check_box "default", :class => "styled"  -%>
      <%= f.label "default", "<strong>Make this your default project.</strong><em> Will become the cover project for your portfolio.</em>".html_safe %>
    </p>
  </div>
</fieldset>
<!-- Project Title !-->
<fieldset id="project_cover">
  <span class="order">2</span>
  <div class="inner">
    <legend>Upload a cover image</legend>
    <p class="description">This thumbnail should represent the project.</p>
    <section class="upload_image_section">
      <div class="first col">
        <div id="cover">
          <%= render 'images/preview', :image => @project.cover %>
        </div>
        <div id="upload_custom_bg_links" class="upload_custom_bg_links">
          <%#= f.file_field 'cover[image]' %>
        </div>
      </div>
      <div class="col">
        <a id="upload_project_cover" href="#" class="upload_btn btn">Upload</a>
        <p class="information">Ideal dimension: 165 px x 165 px – JPG, PNG formats</p>
      </div>
    </section>
  </div>
</fieldset>
<fieldset id="privacy" class="last">
  <span class="order">3</span>
  <div class="inner">
    <legend>Privacy Settings</legend>
    <p class="description">Make your project public or limited access</p>
    <ul class="horizontal_list access_toolbar">
      <li>
        <a class="private_project_btn access_toggle <%= "selected" unless @project.public? %>" id="private_project_btn" >
          Limited Access
        </a>
      </li>
      <li>
        <a class="public_project_btn access_toggle <%= "selected" if @project.public? %>" id="public_project_btn" >
          Public
        </a>
      </li>
    </ul>
    <section id="private_project" class="private_project_section <%= 'hidden' if @project.public? %>">
      <div class="col left">
        <div class="invitation_text_fields" id="invitation_list">
          <div class="top"></div>
          <%- 4.times do |i| %>
            <div class="styled_text_field tb5"><%= text_field_tag "invitation#{i}", set_default(i), :placeholder => 'enter the email address here ...' %></div>
          <% end %>
          <div class="bottom"></div>
        </div>
        
        <a  href="#" >
          <span class="number"> + </span>
          Issue more invites</a>
      </div>
      <div class="col right">
        <p>
          <strong>Invited guests will be granted access for 48hs.</strong>
        </p>
        <p class="description">
          Simply enter a valid email address and
          send the Invite.
        </p>
        <a id="send_invites" class="btn-1" href="#">
          <span>
            <strong>invite</strong>
          </span>
        </a>
      </div>
    </section>

    <section id="public_project" class="public_project_section <%= 'hidden' unless @project.public? %>">
    </section>
  </div>
</fieldset>

<% end %>
<%= photo_uploadify "#upload_project_cover", "#cover", path_for_image_upload(@project), 'image[image]' %>
