
<fieldset id="project_title">
  <span class="order">1</span>
	<div class="inner">
  	<legend>Add content</legend>
    <p class="description">Choose from the following content elements. Add as many different types of content to your project as you desire.</p>
		<section id="add_project_content">
			<ul>
				<li><a href="#add_writing_section">Writing</a></li>
				<li><a href="#add_media_section">Photos & Videos</a></li>
				<li><a href="#add_files">Attached Documents</a></li>
			</ul>
			<section id="add_writing_section">
				  <%= render 'text_blocks/form' %>
			</section>
			<section id="add_media_section">
					<%= render 'galleries/form' %>
			</section>
			<section id="add_files">
					<%= render 'document_blocks/form' %>
			</section>
	</div>
	<div>
	<ul>
	<% @project.text_blocks.each  do  |text_block| %>	
		<li>
			<%= text_block.title %> 
		</li>
	<% end %>
	<% @project.galleries.each  do  |gallery| %>	
		<li><%= gallery.title %> </li>
	<% end %>
	<% @project.document_blocks.each  do  |gallery| %>	
		<li><%= gallery.title %> </li>
	<% end %>
	</ul>
	</div>
</fieldset>

	