<%= form_for(@project, :url => url_for_action(@project), :html => {:multipart => true} ) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <div id="cover">
      <%= render '/images/thumb', :image => @image %>
    </div>
    <%= file_field_tag 'cover[image]' %>
  </div>

  <%= submit_tag 'Send' %>

<% end %>


<%= photo_uploadify "#upload_project_cover", "#cover", images_upload_path(:format => 'html', :id => @project.cover), 'image[image]' %>
