<%= render('/portfolios/sidebar') %>
<section id="edit_project" class="edit_project edit">
  <%= form_for(@project, :url => url_for_action(@project) ) do |f| %>
    <header>
      <ul class="tabs horizontal_list">
        <li><a href="#edit_project_properties" class="active left" >Project properties</a></li>
        <li><a class="right" href="#edit_project_content">Content</a></li>
      </ul>
    </header>
                <section class="tab_content" id="edit_project_properties">
                        <%= render 'form_properties' ,:f => f %>
                </section>
                <section class="tab_content" id="edit_project_content">
                        <%= render 'form_content' ,:f => f %>
                </section>

                <footer>
                        <%= f.hidden_field :public %>
                        <%= submit_tag 'Save project', :class => 'btn' %>
                </footer>
  <% end %>
</section>

<%- if !@project.new_record? %>
  <%= photo_uploadify "#upload_project_cover", "#cover", upload_image_path(:format => 'html', :id => @project.cover), 'image[image]' %>
<% end %>
<% content_for :preview do %>
  <%= render  "portfolios/preview",  :action => 'edit_project'  %>
<% end %>
