<%= form_for([@portfolio, @project]) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>

  <div class="field">
		<div id="cover">
			<%= render 'cover' %>
		</div>
    <%= f.label :cover %><br />
    <%= f.file_field :cover %>
  </div>


<% end %>

<%= photo_uploadify %>
