<%= render('/portfolios/sidebar') %>
<section id="edit_project" class="edit_project edit">
 
    <header>
      <ul class="tabs horizontal_list">
        <li><a href="#edit_project_properties" class="active left" >Project properties</a></li>
        <li><a class="right" href="#edit_project_content">Content</a></li>
      </ul>
    </header>
                <section class="tab_content" id="edit_project_properties">
                        <%= render 'form_properties'  %>
                </section>
                <section class="tab_content" id="edit_project_content">
                        <%= render 'form_content'  %>
                </section>

               

</section>

<%= photo_uploadify "#upload_project_cover", "#cover", path_for_image_upload(@project), 'image[image]' %>
<% content_for :preview do %>
  <%= render  "portfolios/preview",  :action => 'edit_project'  %>
<% end %>
