<%= render('sidebar') %>

<section id="edit" class="edit_portfolio_layout">
	<%= form_for(@portfolio) do |f| %>
	
		<fieldset class="edit_portfolio_bg">
				<div class="order">1</div>
				<legend>Background image</legend>
				<p class="description">Select a background from the gallery or create your own background</p>
				<div class="field box">
					<ul class="selection_list">
						<li>
							<a id="add_custombg_btn" href="#">CREATE<br>YOUR OWN</a>
							<span class="selection_title">Custom</span>
						</li>
						<li>
							<a href="#" class="select_bg">
								<img src="http://placehold.it/110x110" />
							</a>
							<span class="selection_title">Simple Things</span>
						</li>
						<li>
							<a href="#" class="select_bg">
								<img alt="temp" src="http://placehold.it/110x110" />
							</a>
							<span class="selection_title">SoulArt</span>
						</li>
						<li>
							<a href="#" class="select_bg">
								<img alt="temp" src="http://placehold.it/110x110" />
							</a>
							<span class="selection_title">Street Deco</span>
						</li>
							<li>
								<a href="#" class="select_bg">
									<img alt="temp" src="http://placehold.it/110x110" />
								</a>
								<span class="selection_title">Too Sexy</span>
							</li>
					</ul>
					<div class="scroll">
						<a  href="#" class="left_scroll" ></a>
						<a  href="#" class="right_scroll" ></a>
						
					</div>
				</div>
		</fieldset>
		
		
		<div class="field">
		   <%= f.label :layout %><br />
		   <%= f.text_field :layout %>
		 </div>
	<% end %>
</section>
<% content_for :preview do %>
  <%= render  "preview",  :action => 'edit_portfolio'  %>
<% end %>
