<%= render('sidebar') %>

<section id="edit">
	<%= form_for(@portfolio) do |f| %>
		<div class="field">
		   <%= f.label :layout %><br />
		   <%= f.text_field :layout %>
		 </div>
	<% end %>
</section>

<%= render  "preview",  :action => 'edit_portfolio'  %>