<%= render 'actions_menu' %>
<%= form_for(@portfolio) do |f| %>
	<div class="field">
	   <%= f.label :layout %><br />
	   <%= f.text_field :layout %>
	 </div>
<% end %>
<%= render  "preview",  :action => 'edit_portfolio'  %>