<%= form_for(@gallery, :class => "edit_gallery" ) do |f| %>
 	<div class="hidden_fields">
 	  <%= f.hidden_field :project_id %>
 	  <%= hidden_field_tag 'gallery_id', @gallery.id %>
    <%= f.hidden_field :display_preference %>
    <%= hidden_field_tag 'gallery_weight', '' %>
  </div>
  
  <% #GALLERY TITLE FIELD %>
  
  <p id="gallery_title_error" class="error hidden">* Title is required</p>
  <p class="styled_text_field tb2 field">
    <%= f.text_field :title, :placeholder => "Give your gallery a catchy title" %>
  </p>
  
  <% if !@gallery.new_record?  %>
    <div class="add-buttons">
        <a href="<%= new_gallery_photo_path(@gallery) %>" id="add_gallery_photo" class="first fltlft iframe_fancy">+ Add a photo</a>
        <a href="<%= new_gallery_video_path(@gallery) %>" id="add_gallery_video" class="fltrt iframe_fancy">+ Add a video</a>
    </div>  
    <div class="scrollbar">
      <div id="gallery_pane" class="scroll_pane"> 
      <ul id="gallery_element_list">
        <% @gallery.elements.each  do |element| %>
           <li class="upload" id="element_<%= element.id %>"> 
              <%= render element %>
            </li>
        <% end %>
      </ul>
    </div> 
  <% end %>                        
  <div class="display_preferences_field left field">
    <legend>Display preferences</legend>
    <p class="description">Display your gallery as a slideshow or mosaic</p>
    <div>
        <a  class="preference_link mosaic_link <%= 'selected' if @gallery.display_preference == 'mosaic' %>"  href="#" data-val="mosaic" id="mosaic_link">
        </a>
        <a class="preference_link slideshow_link <%= 'selected' if @gallery.display_preference == 'slideshow' %>" href="#" data-val="slideshow" id="slideshow_link">
        </a>
   </div>
  </div> 
  <p class="right actions" >
    
    <a id="save_gallery_btn" href="#" class="btn-1"><span><strong>
      <% if !@gallery.new_record?  %>
        Save gallery
      <% else %>
        Create gallery
      <% end %>
    </strong></span></a>
    <% if !@gallery.new_record?  %>
      <a id="save_gallery_btn" href="<%= new_gallery_path+"?project_id=#{@project.id}" %>" class="btn-2"><span><strong>Cancel</strong></span></a>
    <% end %>
  </p>
 
 
<% end %>
