<%= form_for(@gallery ) do |f| %>
 	<%= f.hidden_field :project_id %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :display_preference %><br />
    <%= f.text_field :display_preference %>
  </div>
 
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
