<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @gallery.title %>
</p>

<p>
  <b>Weight:</b>
  <%= @gallery.weight %>
</p>

<p>
  <b>Display preference:</b>
  <%= @gallery.display_preference %>
</p>

<p>
  <b>Project:</b>
  <%= @gallery.project_id %>
</p>


<%= link_to 'Edit', edit_gallery_path(@gallery) %> |
<%= link_to 'Back', galleries_path %>
