<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>stylejonction</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
        <%= yield :header %>
</head>
<body>
	<div id="wrapper" >
    <section id="page" role="main">
        <header class="header">
         	<nav class="toolbar" id="toolbar">
	          <p class="toolbar_links">
                <em> Questions? </em>
                <a href="#">FAQ</a>
                <a href="#"> <span class="online">Agent Online</span></a>
                <a class="last" href="#">Contact us</a>
            </p>
            <ul class="login_links">
              <%= render 'devise/menu/registration_items' %>
              <%= render 'devise/menu/login_items' %>
            </ul>
	        </nav>
	        <div class="header_center">
	          <div class="logo">
  	        	<%= link_to image_tag('../images/logo.png'), '/' %>
  	        </div>
  	        <p class="title">
              	<%- if user_signed_in? && request.subdomain == current_user.username -%>
                	<strong><%= current_user.username %></strong>'s portfolio /
                	<em>Share Portfolio</em>
    						<% end %>
            </p>
	           <%- if user_signed_in? && !current_user.portfolio.published? -%>
						    <%= form_tag(publish_portfolio_path, :method => :put) do %>
						      <%= submit_tag "Publish", :class => 'btn' %>
						    <% end %>
						 <% end %>
	        </div>
      </header>
       <%- if user_signed_in? %>
        <nav id="main_nav" class="main_nav">
          <ul>
              <li class="first active">
                <%= link_to 'Portfolio', edit_layout_portfolio_path, :class => 'active' %>
              </li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Resume</a></li>
              <li><a href="#">Business Card</a></li>
              <li class="secondary"><%= link_to('profile', edit_user_registration_path) %></li>
              <li class="last secondary"><a href="#">stats</a></li>
          </ul>
         </nav>
        <% end %>
        <div id="main" class="main">
          <%= yield %>
         </div>
         <%= yield :preview %>
    </section>
  </div>
  <% [:notice, :warning, :error].each do |type| %>
    <div class="<%= type %> message <%= 'has_content' unless flash[type].to_s == '' %>">
      <%= flash[type] %>
    </div>
 <% end %>

</body>
</html>
