<section class="<%= 'hidden' unless visible %>" id="update_pattern_background">
	<%= form.fields_for :pattern_background do |pattern_background_fields| %>
		<%= pattern_background_fields.hidden_field :color  %>
	 	<%= pattern_background_fields.hidden_field :pattern_id  %>
		<%= pattern_background_fields.hidden_field :id  %>
  	<p class="description"> Click <em>boxes</em> to customize</p>
  	<ul>
	    <li>
	      <div class="color_picker " id="background_pattern_color_picker">
	        <div class="panel" style="background-color: #<%= background.color %>"></div>
				
	      </div>
	    </li>
	    <li class="text">&</li>
	    <li>
	      <a id="pattern_btn" class="pattern panel" style="background-image:<%= "url(#{background.pattern.image.preview_url})" if background.pattern %>">
	      </a>
	      +
	      <div id="pattern_preview" class="pattern_preview panel" style="background-color: #<%= background.color %>">
	      </div>
	    </li>
	    <li  class="text">
	      =
	    </li>
	    <li>
	      <div id="final_preview" class="preview panel" style="background-image:<%= "url(#{background.pattern.image.preview_url})" if background.pattern %>; background-color: #<%= background.color %>;" >
			
	      </div>
	    </li>
	  </ul>
 <% end %>
	<section id="pattern_dialog" class="dialog pattern_dialog">
		<ul class="horizontal_list">
			<% @patterns.each do |pattern|  %>
				<li data-id="<%= pattern.id %>" data-url="<%= pattern.image.display_url %>" 
						class="panel pattern_link" style="background-image:<%= "url(#{pattern.image.edit_url})" %>">
				</li>
			<% end %>
		</ul>
	</section>
</section>
<%= form.hidden_field :pattern_background_id %>

